@use 'cardinal/all' as *;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital@0;1&display=swap');
// site specifics

body {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: $space-s;
    margin-right: 6px;
    margin-left: 6px;
}

h1, h2, h3, h4, h5 {
    font-family: "Archivo Black";
}

h1 {
    font-size: $space-l;
}

h2 {
    font-size: $space-m;
}

h3 {
    font-size: $space-s;
}

h4, h5 {
    font-size: $space-xs;
}

.poststripe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 6px;
    background-size: 6px 40px;
    background-image: repeating-linear-gradient(blue 0%, blue 25%, white 25%, white 50%, red 50%, red 75%, white 75%, white 100%);
}
 

input, select {
    @include input($space-m);
}

textarea {
    @include input($space-xl)
}

textarea[name="letter[content]"] {
    @include input(calc($space-3xl * 2));
}

@mixin common_form_attributes {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: $space-s;
    line-height: $space-m;
    border: solid 1px #A5A5A5;
    border-radius: 4px;
}

input, select, textarea {
    @include common_form_attributes;
}

input::placeholder, textarea::placeholder {
    font-size: $space-xs;
}

button.submit {
    padding: $space-2xs;
    width: 100%;
    @include my($space-s);
    @include common_form_attributes;
    background-color: blue;
    color: white;
    transition: background-color .4s;
}

button.submit:hover {
    background-color: #4343A5;
}

.letter-content {
    height: 99vh;
}