// Flexbox
.f-row {
  display: flex;
  flex-wrap: wrap;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}


.order-md-1 {
  @include media-md {
    order: 1;
  }
}

.order-md-2 {
  @include media-md {
    order: 2;
  }
}

$column: calc(100% / 12);
$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

@mixin columns($size_prefix: '-') {
  @each $value in $columns {
    &#{$size_prefix}#{$value} {
      flex: 0 0 auto;
      width: calc(#{$column} * #{$value});
    }
  }
}

.col {
  @include columns;
}

@include media-xs {
  .col-xs {
    @include columns();
  }
}

@include media-sm {
  .col-sm {
    @include columns();
  }
}

@include media-md {
  .col-md {
    @include columns();
  }
}

@include media-lg {
  .col-lg {
    @include columns();
  }
}

@include media-xl {
  .col-xl {
    @include columns();
  }
}

@include media-xx {
  .col-xx {
    @include columns();
  }
}

// Flex Alignments

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

// Positioning
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}