@use 'margins_and_padding';

input, textarea {
    position: relative;
    box-sizing: border-box;
}

@mixin input($height: $space-m, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin button($height: $space-m, $width: 100%) {
    height: $height;
    width: $width;
}