<h1>Error!</h1>
<p> 
   We couldn't verify a payment from Stripe, please try again or contact us!  
</p>

<p>
    PSST. If you enter an email when checking out we can follow up with you about any future errors.
</p>